{lib_dirs,
	[
		".."
	]
}.

{deps_dir,
	[
		".."
	]
}.

{sub_dirs,
	[
%		"rel",
%		"../tss"
	]
}.

%% Опции компилятора
{erl_opts, 
	[
		debug_info,
		fail_on_warning
	]
}.

%% Опции тестирования
{eunit_opts,
	[
		verbose
	]
}.

{edoc_opts,
	[
		{new,true},
        {packages,true},
        {subpackages,true},
        {hidden,false},
        {private,false}
	]
}.

% {cover_enabled, true}.

{deps,
	[
	]
}.

